body {
  background-color: #78a4b3;
}

h1 {
  color: #8d3ca6;
  text-align: center;
  margin: 1.3em;
}

div {
  text-align: center;
}

input {
  margin: 2em;
}

h3 {
  color: #d7bde2;
  margin-bottom: 2em;
}

input {
  type: text;
  color: #000000;

}

button {
  width: 40rem;
  height: 10rem;
  text-decoration: underline;
  text-shadow: green 1px 1px;
  font-family: cursive;
  font-size: 3rem;
}

p {
  text-align: center;
  font-size: 2rem;
  
}
